body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: unset;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    display: flex;
    list-style-type:  none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #621708;
    font-family: Arial, Helvetica, sans-serif;
}

nav .active a, nav a:hover{
    background-color: #f6aa1c;
    color: aliceblue;
}

#banner{
    justify-content: center;
    background-image: url('../images/chevrolet-camaro-ss.jpg');
    background-position: center;
    background-size: cover;
    height: 880px;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_options{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:right;
    height: 210px;
    display: flex;
}

.widget_headline h1{
    color: #f6aa1c;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    max-width: 350px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: contents;
}

.banner1,.banner2,.banner3{
    flex: 1;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#fbba72,#ca5310,#d3b81d);
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{

    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.column{
    align-items: baseline;
}

#geral{
    display: flex;
    
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.widget_title_text{
    color: #ff0000;
    font-size: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.widget_title_bar{
    width: 50px;
    height: 5px;
    background-color: #f5550b;
    margin-top: 10px;
}
#rodape{
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #555555;
    font-size: 12px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}